@charset "ISO-8859-1";

.win{
	    margin: auto;
	top: 0px;
	 left: 400px;

		}

#dice {
	background-image: url("resources/images/dieroll.png");
	backgroun-size: contain;
	height: 100px;
	width: 100px;
	height: 100px;
	transition: transform .8s ease-in-out;
}

#dice:hover {
	transform: rotate(720deg);
}




h2 span { 
    z-index: 100;
  position: absolute;
  font-weight: bold;
  left: 0px;
  top: 0px;
   color: white; 
   font: bold 24px/45px Helvetica, Sans-Serif; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); 
   background: rgba(0, 0, 0, 0.7);
   padding: 10px; 
}

h2 span.spacer {
   padding:0 5px;
}


#picture1{
  	  position: absolute;
		top: 60px;
		left: 480px;
      width: 175x;
      height: 200px;

      background-size: 200px 200px;
      border: 14px solid #fff; 
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
       box-sizing: border-box;
       -webkit-box-shadow: 5px 5px 5px #111;
     box-shadow: 5px 5px 50px #111;      
               }


.pic_transform1{
        transition-duration: 0.5s;            
        -webkit-transition-duration: 0.5s; 
        -moz-transition-duration: 0.5s;    
        -o-transition-duration: 0.5s;
         overflow: hidden;
         height: 0px;
                         }

#picture1:hover .pic_transform1{
          height: 100px;
                          }

.text_display1{
        transform-origin: top;               
        transition-duration: 0.5s;               
        -webkit-transform-origin: top;       
        -webkit-transition-duration: 0.5s;   
        -moz-transform-origin: top;           
        -moz-transition-duration: 0.5s;       
        -o-transform-origin: top;    
        -o-transition-duration: 0.5s;
        font-size: 16px;
        font-family: Arial;       
        font-weight: normal;
        text-align:center;
        color: #FFF;       
                     }

#picture1:hover .text_display1{
         background: rgba(0, 0, 0, 0.5);   
         color: #fff;   
           
                      }

 

#picture2{
  	  position: absolute;
		top: 60px;
		left: 690px;
      width: 175x;
      height: 200px;

      background-size: 200px 200px;
      border: 14px solid #fff; 
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
       box-sizing: border-box;
       -webkit-box-shadow: 5px 5px 5px #111;
     box-shadow: 5px 5px 50px #111;      
               }


.pic_transform2{
        transition-duration: 0.5s;            
        -webkit-transition-duration: 0.5s; 
        -moz-transition-duration: 0.5s;    
        -o-transition-duration: 0.5s;
         overflow: hidden;
         height: 0px;
                         }

#picture2:hover .pic_transform2{
          height: 100px;
                          }

.text_display2{
        transform-origin: top;               
        transition-duration: 0.5s;               
        -webkit-transform-origin: top;       
        -webkit-transition-duration: 0.5s;   
        -moz-transform-origin: top;           
        -moz-transition-duration: 0.5s;       
        -o-transform-origin: top;    
        -o-transition-duration: 0.5s;
        font-size: 16px;
        font-family: Arial;       
        font-weight: normal;
        text-align:center;
        color: #FFF;       
                     }

#picture2:hover .text_display2{
         background: rgba(0, 0, 0, 0.5);   
         color: #fff;   
           
                      }

 
 
 

#picture3{
  	  position: absolute;
		top: 60px;
		left: 900px;
      width: 175x;
      height: 200px;

      background-size: 200px 200px;
      border: 14px solid #fff; 
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
       box-sizing: border-box;
       -webkit-box-shadow: 5px 5px 5px #111;
     box-shadow: 5px 5px 50px #111;      
               }


.pic_transform3{
        transition-duration: 0.5s;            
        -webkit-transition-duration: 0.5s; 
        -moz-transition-duration: 0.5s;    
        -o-transition-duration: 0.5s;
         overflow: hidden;
         height: 0px;
                         }

#picture3:hover .pic_transform3{
          height: 100px;
                          }

.text_display3{
        transform-origin: top;               
        transition-duration: 0.5s;               
        -webkit-transform-origin: top;       
        -webkit-transition-duration: 0.5s;   
        -moz-transform-origin: top;           
        -moz-transition-duration: 0.5s;       
        -o-transform-origin: top;    
        -o-transition-duration: 0.5s;
        font-size: 16px;
        font-family: Arial;       
        font-weight: normal;
        text-align:center;
        color: #FFF;       
                     }

#picture3:hover .text_display3{
         background: rgba(0, 0, 0, 0.5);   
         color: #fff;   
           
                      }

 
 

#picture4{
  	  position: absolute;
		top: 60px;
		left: 1110px;
      width: 175x;
      height: 200px;

      background-size: 200px 200px;
      border: 14px solid #fff; 
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
       box-sizing: border-box;
       -webkit-box-shadow: 5px 5px 5px #111;
     box-shadow: 5px 5px 50px #111;      
               }


.pic_transform4{
        transition-duration: 0.5s;            
        -webkit-transition-duration: 0.5s; 
        -moz-transition-duration: 0.5s;    
        -o-transition-duration: 0.5s;
         overflow: hidden;
         height: 0px;
                         }

#picture4:hover .pic_transform4{
          height: 100px;
                          }

.text_display4{
        transform-origin: top;               
        transition-duration: 0.5s;               
        -webkit-transform-origin: top;       
        -webkit-transition-duration: 0.5s;   
        -moz-transform-origin: top;           
        -moz-transition-duration: 0.5s;       
        -o-transform-origin: top;    
        -o-transition-duration: 0.5s;
        font-size: 16px;
        font-family: Arial;       
        font-weight: normal;
        text-align:center;
        color: #FFF;       
                     }

#picture4:hover .text_display4{
         background: rgba(0, 0, 0, 0.5);   
         color: #fff;   
           
                      }

 
 

#picture5{
  	  position: absolute;
		top: 60px;
		left: 1320px;
      width: 175x;
      height: 200px;

      background-size: 200px 200px;
      border: 14px solid #fff; 
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
       box-sizing: border-box;
       -webkit-box-shadow: 5px 5px 5px #111;
     box-shadow: 5px 5px 50px #111;      
               }


.pic_transform5{
        transition-duration: 0.5s;            
        -webkit-transition-duration: 0.5s; 
        -moz-transition-duration: 0.5s;    
        -o-transition-duration: 0.5s;
         overflow: hidden;
         height: 0px;
                         }

#picture5:hover .pic_transform5{
          height: 100px;
                          }

.text_display5{
        transform-origin: top;               
        transition-duration: 0.5s;               
        -webkit-transform-origin: top;       
        -webkit-transition-duration: 0.5s;   
        -moz-transform-origin: top;           
        -moz-transition-duration: 0.5s;       
        -o-transform-origin: top;    
        -o-transition-duration: 0.5s;
        font-size: 16px;
        font-family: Arial;       
        font-weight: normal;
        text-align:center;
        color: #FFF;       
                     }

#picture5:hover .text_display5{
         background: rgba(0, 0, 0, 0.5);   
         color: #fff;   
           
                      }

#picture6{
  	  position: absolute;
		top: 90px;
		left: 1530px;
      width: 175x;
      height: 200px;

      background-size: 200px 200px;
      border: 14px solid #fff; 
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
       box-sizing: border-box;
       -webkit-box-shadow: 5px 5px 5px #111;
     box-shadow: 5px 5px 50px #111;      
               }


.pic_transform6{
        transition-duration: 0.5s;            
        -webkit-transition-duration: 0.5s; 
        -moz-transition-duration: 0.5s;    
        -o-transition-duration: 0.5s;
         overflow: hidden;
         height: 0px;
                         }

#picture6:hover .pic_transform6{
          height: 100px;
                          }

.text_display6{
        transform-origin: top;               
        transition-duration: 0.5s;               
        -webkit-transform-origin: top;       
        -webkit-transition-duration: 0.5s;   
        -moz-transform-origin: top;           
        -moz-transition-duration: 0.5s;       
        -o-transform-origin: top;    
        -o-transition-duration: 0.5s;
        font-size: 16px;
        font-family: Arial;       
        font-weight: normal;
        text-align:center;
        color: #FFF;       
                     }

#picture6:hover .text_display6{
         background: rgba(0, 0, 0, 0.5);   
         color: #fff;   
           
                      }

 
 
 

#picture7{
  	  position: absolute;
		top: 380px;
		left: 1530px;
      width: 175x;
      height: 200px;

      background-size: 200px 200px;
      border: 14px solid #fff; 
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
       box-sizing: border-box;
       -webkit-box-shadow: 5px 5px 5px #111;
     box-shadow: 5px 5px 50px #111;      
               }


.pic_transform7{
        transition-duration: 0.5s;            
        -webkit-transition-duration: 0.5s; 
        -moz-transition-duration: 0.5s;    
        -o-transition-duration: 0.5s;
         overflow: hidden;
         height: 0px;
                         }

#picture7:hover .pic_transform7{
          height: 100px;
                          }

.text_display7{
        transform-origin: top;               
        transition-duration: 0.5s;               
        -webkit-transform-origin: top;       
        -webkit-transition-duration: 0.5s;   
        -moz-transform-origin: top;           
        -moz-transition-duration: 0.5s;       
        -o-transform-origin: top;    
        -o-transition-duration: 0.5s;
        font-size: 16px;
        font-family: Arial;       
        font-weight: normal;
        text-align:center;
        color: #FFF;       
                     }

#picture7:hover .text_display7{
         background: rgba(0, 0, 0, 0.5);   
         color: #fff;   
           
                      }

 
 
 

#picture8{
  	  position: absolute;
		top: 670px;
		left: 1530px;
      width: 175x;
      height: 200px;

      background-size: 200px 200px;
      border: 14px solid #fff; 
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
       box-sizing: border-box;
       -webkit-box-shadow: 5px 5px 5px #111;
     box-shadow: 5px 5px 50px #111;      
               }


.pic_transform8{
        transition-duration: 0.5s;            
        -webkit-transition-duration: 0.5s; 
        -moz-transition-duration: 0.5s;    
        -o-transition-duration: 0.5s;
         overflow: hidden;
         height: 0px;
                         }

#picture8:hover .pic_transform8{
          height: 100px;
                          }

.text_display8{
        transform-origin: top;               
        transition-duration: 0.5s;               
        -webkit-transform-origin: top;       
        -webkit-transition-duration: 0.5s;   
        -moz-transform-origin: top;           
        -moz-transition-duration: 0.5s;       
        -o-transform-origin: top;    
        -o-transition-duration: 0.5s;
        font-size: 16px;
        font-family: Arial;       
        font-weight: normal;
        text-align:center;
        color: #FFF;       
                     }

#picture8:hover .text_display8{
         background: rgba(0, 0, 0, 0.5);   
         color: #fff;   
           
                      }


 


#picture13{
  	  position: absolute;
		top: 760px;
		left: 480px;
      width: 175x;
      height: 200px;

      background-size: 200px 200px;
      border: 14px solid #fff; 
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
       box-sizing: border-box;
       -webkit-box-shadow: 5px 5px 5px #111;
     box-shadow: 5px 5px 50px #111;      
               }


.pic_transform13{
        transition-duration: 0.5s;            
        -webkit-transition-duration: 0.5s; 
        -moz-transition-duration: 0.5s;    
        -o-transition-duration: 0.5s;
         overflow: hidden;
         height: 0px;
                         }

#picture13:hover .pic_transform13{
          height: 100px;
                          }

.text_display13{
        transform-origin: top;               
        transition-duration: 0.5s;               
        -webkit-transform-origin: top;       
        -webkit-transition-duration: 0.5s;   
        -moz-transform-origin: top;           
        -moz-transition-duration: 0.5s;       
        -o-transform-origin: top;    
        -o-transition-duration: 0.5s;
        font-size: 16px;
        font-family: Arial;       
        font-weight: normal;
        text-align:center;
        color: #FFF;       
                     }

#picture13:hover .text_display13{
         background: rgba(0, 0, 0, 0.5);   
         color: #fff;   
           
                      }

 
 
#picture12{
  	  position: absolute;
		top: 760px;
		left: 690px;
      width: 175x;
      height: 200px;

      background-size: 200px 200px;
      border: 14px solid #fff; 
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
       box-sizing: border-box;
       -webkit-box-shadow: 5px 5px 5px #111;
     box-shadow: 5px 5px 50px #111;      
               }


.pic_transform12{
        transition-duration: 0.5s;            
        -webkit-transition-duration: 0.5s; 
        -moz-transition-duration: 0.5s;    
        -o-transition-duration: 0.5s;
         overflow: hidden;
         height: 0px;
                         }

#picture12:hover .pic_transform12{
          height: 100px;
                          }

.text_display12{
        transform-origin: top;               
        transition-duration: 0.5s;               
        -webkit-transform-origin: top;       
        -webkit-transition-duration: 0.5s;   
        -moz-transform-origin: top;           
        -moz-transition-duration: 0.5s;       
        -o-transform-origin: top;    
        -o-transition-duration: 0.5s;
        font-size: 16px;
        font-family: Arial;       
        font-weight: normal;
        text-align:center;
        color: #FFF;       
                     }

#picture12:hover .text_display12{
         background: rgba(0, 0, 0, 0.5);   
         color: #fff;   
           
                      }

 
 

#picture11{
  	  position: absolute;
		top: 760px;
		left: 900px;
      width: 175x;
      height: 200px;

      background-size: 200px 200px;
      border: 14px solid #fff; 
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
       box-sizing: border-box;
       -webkit-box-shadow: 5px 5px 5px #111;
     box-shadow: 5px 5px 50px #111;      
               }


.pic_transform11{
        transition-duration: 0.5s;            
        -webkit-transition-duration: 0.5s; 
        -moz-transition-duration: 0.5s;    
        -o-transition-duration: 0.5s;
         overflow: hidden;
         height: 0px;
                         }

#picture11:hover .pic_transform11{
          height: 100px;
                          }

.text_display11{
        transform-origin: top;               
        transition-duration: 0.5s;               
        -webkit-transform-origin: top;       
        -webkit-transition-duration: 0.5s;   
        -moz-transform-origin: top;           
        -moz-transition-duration: 0.5s;       
        -o-transform-origin: top;    
        -o-transition-duration: 0.5s;
        font-size: 16px;
        font-family: Arial;       
        font-weight: normal;
        text-align:center;
        color: #FFF;       
                     }

#picture11:hover .text_display11{
         background: rgba(0, 0, 0, 0.5);   
         color: #fff;   
           
                      }

 
 
 
#picture10{
  	  position: absolute;
		top: 760px;
		left: 1110px;
      width: 175x;
      height: 200px;

      background-size: 200px 200px;
      border: 14px solid #fff; 
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
       box-sizing: border-box;
       -webkit-box-shadow: 5px 5px 5px #111;
     box-shadow: 5px 5px 50px #111;      
               }


.pic_transform10{
        transition-duration: 0.5s;            
        -webkit-transition-duration: 0.5s; 
        -moz-transition-duration: 0.5s;    
        -o-transition-duration: 0.5s;
         overflow: hidden;
         height: 0px;
                         }

#picture10:hover .pic_transform10{
          height: 100px;
                          }

.text_display10{
        transform-origin: top;               
        transition-duration: 0.5s;               
        -webkit-transform-origin: top;       
        -webkit-transition-duration: 0.5s;   
        -moz-transform-origin: top;           
        -moz-transition-duration: 0.5s;       
        -o-transform-origin: top;    
        -o-transition-duration: 0.5s;
        font-size: 16px;
        font-family: Arial;       
        font-weight: normal;
        text-align:center;
        color: #FFF;       
                     }

#picture10:hover .text_display10{
         background: rgba(0, 0, 0, 0.5);   
         color: #fff;   
           
                      }

 
 
 

#picture9{
  	  position: absolute;
		top: 760px;
		left: 1320px;
      width: 175x;
      height: 200px;

      background-size: 200px 200px;
      border: 14px solid #fff; 
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
       box-sizing: border-box;
       -webkit-box-shadow: 5px 5px 5px #111;
     box-shadow: 5px 5px 50px #111;      
               }


.pic_transform9{
        transition-duration: 0.5s;            
        -webkit-transition-duration: 0.5s; 
        -moz-transition-duration: 0.5s;    
        -o-transition-duration: 0.5s;
         overflow: hidden;
         height: 0px;
                         }

#picture9:hover .pic_transform9{
          height: 100px;
                          }

.text_display9{
        transform-origin: top;               
        transition-duration: 0.5s;               
        -webkit-transform-origin: top;       
        -webkit-transition-duration: 0.5s;   
        -moz-transform-origin: top;           
        -moz-transition-duration: 0.5s;       
        -o-transform-origin: top;    
        -o-transition-duration: 0.5s;
        font-size: 16px;
        font-family: Arial;       
        font-weight: normal;
        text-align:center;
        color: #FFF;       
                     }

#picture9:hover .text_display9{
         background: rgba(0, 0, 0, 0.5);   
         color: #fff;   
           
                      }


#picture16{
  	  position: absolute;
		top: 90px;
		left: 270px;
      width: 175x;
      height: 200px;

      background-size: 200px 200px;
      border: 14px solid #fff; 
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
       box-sizing: border-box;
       -webkit-box-shadow: 5px 5px 5px #111;
     box-shadow: 5px 5px 50px #111;      
               }


.pic_transform16{
        transition-duration: 0.5s;            
        -webkit-transition-duration: 0.5s; 
        -moz-transition-duration: 0.5s;    
        -o-transition-duration: 0.5s;
         overflow: hidden;
         height: 0px;
                         }

#picture16:hover .pic_transform16{
          height: 100px;
                          }

.text_display16{
        transform-origin: top;               
        transition-duration: 0.5s;               
        -webkit-transform-origin: top;       
        -webkit-transition-duration: 0.5s;   
        -moz-transform-origin: top;           
        -moz-transition-duration: 0.5s;       
        -o-transform-origin: top;    
        -o-transition-duration: 0.5s;
        font-size: 16px;
        font-family: Arial;       
        font-weight: normal;
        text-align:center;
        color: #FFF;       
                     }

#picture16:hover .text_display16{
         background: rgba(0, 0, 0, 0.5);   
         color: #fff;   
           
                      }

 
 
 

#picture15{
  	  position: absolute;
		top: 380px;
		left: 270px;
      width: 175x;
      height: 200px;

      background-size: 200px 200px;
      border: 14px solid #fff; 
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
       box-sizing: border-box;
       -webkit-box-shadow: 5px 5px 5px #111;
     box-shadow: 5px 5px 50px #111;      
               }


.pic_transform15{
        transition-duration: 0.5s;            
        -webkit-transition-duration: 0.5s; 
        -moz-transition-duration: 0.5s;    
        -o-transition-duration: 0.5s;
         overflow: hidden;
         height: 0px;
                         }

#picture15:hover .pic_transform15{
          height: 100px;
                          }

.text_display15{
        transform-origin: top;               
        transition-duration: 0.5s;               
        -webkit-transform-origin: top;       
        -webkit-transition-duration: 0.5s;   
        -moz-transform-origin: top;           
        -moz-transition-duration: 0.5s;       
        -o-transform-origin: top;    
        -o-transition-duration: 0.5s;
        font-size: 16px;
        font-family: Arial;       
        font-weight: normal;
        text-align:center;
        color: #FFF;       
                     }

#picture15:hover .text_display15{
         background: rgba(0, 0, 0, 0.5);   
         color: #fff;   
           
                      }

 
 
 

#picture14{
  	  position: absolute;
		top: 670px;
		left: 270px;
      width: 175x;
      height: 200px;

      background-size: 200px 200px;
      border: 14px solid #fff; 
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
       box-sizing: border-box;
       -webkit-box-shadow: 5px 5px 5px #111;
     box-shadow: 5px 5px 50px #111;      
               }


.pic_transform14{
        transition-duration: 0.5s;            
        -webkit-transition-duration: 0.5s; 
        -moz-transition-duration: 0.5s;    
        -o-transition-duration: 0.5s;
         overflow: hidden;
         height: 0px;
                         }

#picture14:hover .pic_transform14{
          height: 100px;
                          }

.text_display14{
        transform-origin: top;               
        transition-duration: 0.5s;               
        -webkit-transform-origin: top;       
        -webkit-transition-duration: 0.5s;   
        -moz-transform-origin: top;           
        -moz-transition-duration: 0.5s;       
        -o-transform-origin: top;    
        -o-transition-duration: 0.5s;
        font-size: 16px;
        font-family: Arial;       
        font-weight: normal;
        text-align:center;
        color: #FFF;       
                     }

#picture14:hover .text_display14{
         background: rgba(0, 0, 0, 0.5);   
         color: #fff;   
           
                      }


#picture17{
  	  position: absolute;
		top: 380px;
		left: 900px;
      width: 175x;
      height: 200px;

      background-size: 200px 200px;
      border: 14px solid #fff; 
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
       box-sizing: border-box;
       -webkit-box-shadow: 5px 5px 5px #111;
     box-shadow: 5px 5px 50px #111;      
               }


.pic_transform17{
        transition-duration: 0.5s;            
        -webkit-transition-duration: 0.5s; 
        -moz-transition-duration: 0.5s;    
        -o-transition-duration: 0.5s;
         overflow: hidden;
         height: 0px;
                         }

#picture17:hover .pic_transform17{
          height: 100px;
                          }

.text_display17{
        transform-origin: top;               
        transition-duration: 0.5s;               
        -webkit-transform-origin: top;       
        -webkit-transition-duration: 0.5s;   
        -moz-transform-origin: top;           
        -moz-transition-duration: 0.5s;       
        -o-transform-origin: top;    
        -o-transition-duration: 0.5s;
        font-size: 16px;
        font-family: Arial;       
        font-weight: normal;
        text-align:center;
        color: #FFF;       
                     }

#picture17:hover .text_display17{
         background: rgba(0, 0, 0, 0.5);   
         color: #fff;   
           
                      }
                      
                      .health{
background-image:url("http://www.symbols.com/gi.php?type=1&id=2201");
background-size: 500px 60px;
background-repeat: no-repeat;
}



.bargraph {
	background-image: -webkit-linear-gradient(135deg, blue, black);
    opacity: 0.80;
	text-align: left;
    list-style: none;
    width:250px;
    border-style: solid;
   
    }

ul.bargraph li {
    height: 35px;
    text-align: left;
    font-style: italic;
    font-weight:bolder;
    font-size: 17px;
    line-height: 35px;
   
    margin-bottom: 5px;
   
   
    }

ul.bargraph li.reddeep {

background: #ED1C24;
width:100%;
}

ul.bargraph li.greenbright {

background: #36B669;
}


button {
  background: rgba(255, 205, 94, 0.2);
  border: 0;
  box-sizing: border-box;
  margin: 1em;
  padding: 1em 2em;
  
 
  box-shadow: inset 0 0 0 3px rgba(69, 173, 210, 1);
  color: rgba(69, 173, 210, 1);
  font-size: inherit;
  font-weight: 700;


  position: relative;
  vertical-align: middle;

  &::before,
  &::after {
    box-sizing: inherit;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
  }
}



.draw {
    transition: color 1s;
  

  &::before,
  &::after {
    
    border: 3px solid transparent;
    width: 0;
    height: 0;
  }

 
  &::before {
    top: 0;
    left: 0;
  }

 
  &::after {
    bottom: 0;
    right: 0;
  }
  
  &:hover {
     background: rgba(69, 173, 210, 1);
     color: rgba(255, 205, 94, 1);
  }

 
  &:hover::before,
  &:hover::after {
    width: 100%;
    height: 100%;
  }

  &:hover::before {
    border-top-color: rgba(255, 205, 94, 1); 
    border-right-color: rgba(255, 205, 94, 1);
    
    transition:
      
      width 0.25s ease-out, 
      height 0.25s ease-out 0.25s; 
  }

  &:hover::after {
    
    border-bottom-color: rgba(255, 205, 94, 1); 
    border-left-color: rgba(255, 205, 94, 1);
    transition:
     
      border-color 0s ease-out 0.5s, 
      width 0.25s ease-out 0.5s, 
      height 0.25s ease-out 0.75s; 
  }
}





.div2 {
 position: fixed;
  bottom: 0;
  right: 0;
}


body{
background-image:url("https://wallpaperdownload.xyz/wp-content/uploads/2016/10/really-cool-wallpapers2.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	  color: rgb(242,252,255);
    text-align: left;
    font-style: italic;
    font-weight:bolder;
    font-size: 17px;
}
